body {
  background: linear-gradient(
    180deg,
    rgba(0, 87, 183, 0.5) 31%,
    rgba(255, 221, 0, 0.5) 100%
  );
  padding-top: 40px;
  background-attachment: fixed;
}

@media (max-width: 575px) {
    body {
        padding-top: 5px;
    }
}

