.App {
  font-family: "Changa", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(0, 87, 183, 0.5) 31%,
    rgba(255, 221, 0, 0.5) 100%
  );
  background-attachment: fixed;
}
.app-container {
  background: rgba(135, 178, 231, 0.7);
  margin: 0 auto;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  padding: 20px 0;
}
