.App {
    font-family: "Changa", sans-serif;

}
.app-container {
  margin: 0 auto;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);

}
@media (max-width: 575px) {
  .app-container {
  background: none;
}
}